{
	"Changes":
	[
		{
		"Action":"UPSERT",
		"ResourceRecordSet":
			{
			"Name":"{%HOST%}.deile.net",
			"Type":"A",
			"TTL":300,
			"ResourceRecords":
				[
					{
					"Value":{%IP%}
					}
				]
			}
		}
	]
}
